<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Plugin for adding leat balance to order grid -->
    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="leat_loyalty_admin_add_balance_to_grid" type="Leat\LoyaltyAdminUI\Plugin\Order\Grid\Collection" sortOrder="100"/>
    </type>

    <!-- Add Leat Reward UUID field to SalesRule form data -->
    <type name="Magento\SalesRule\Model\Rule\DataProvider">
        <plugin name="leat_loyalty_admin_ui_data_provider"
                type="Leat\LoyaltyAdminUI\Plugin\SalesRule\Model\Rule\DataProviderPlugin"
                sortOrder="10"/>
    </type>
    <!-- Plugin to add giftcard options to cart item renderers -->
    <type name="Magento\Checkout\Block\Cart\Item\Renderer">
        <plugin name="leat_order_options_giftcard_item_renderer"
                type="Leat\LoyaltyAdminUI\Plugin\GiftcardRenderOrderOptions"/>
    </type>
    
    <!-- Plugin to add giftcard options to order items in admin area -->
    <type name="Magento\Sales\Model\Order\Item">
        <plugin name="leat_order_options_giftcard_order_item"
                type="Leat\LoyaltyAdminUI\Plugin\GiftcardItemOrderOptions"/>
    </type>
</config>
