<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="salesrule_rule_condition_combine">
        <observer name="leat_loyaltyadminui_add_to_salesrule_conditions"
                  instance="Leat\LoyaltyAdminUI\Observer\AddLeatRuleToSalesRuleConditions"/>
    </event>
</config>
