.leat-applied-giftcards {
    margin-bottom: 2rem;
}

.leat-applied-giftcards table {
    width: 100%;
    border-collapse: collapse;
}

.leat-applied-giftcards th,
.leat-applied-giftcards td {
    padding: 0.8rem 1rem;
    text-align: left;
    border-bottom: 1px solid #d6d6d6;
}

.leat-applied-giftcards thead th {
    background-color: #f8f8f8;
    font-weight: 600;
}

.leat-applied-giftcards tfoot th {
    font-weight: 600;
}

.leat-applied-giftcards tbody tr:hover {
    background-color: #f5f5f5;
}
